body{
    font-size: 12px;
    font-family: Arial;
    text-transform: uppercase;
    color: white;
}

#logo{
    background-image: url(../img/logo.fw.png);
    width: 194px;
    height: 146px;
}

#menuTop{
    width: 100%;
    background-color:#1b8e99;
}

ul{
    margin: 10px;
    padding: 14px;
}

ul li{
    display: inline;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

ul li a:hover {
    background-color: #fbfbfb68;
    padding-top: 20px;
    padding-bottom: 20px;
}
#menuBottom{
    background-color: #660000;
}