* {
    margin: 0;
    padding: 0;
}

#lojaVitual {
    width: 980px;
    margin: 0 auto;
}
.lojaToda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lojaTitulo {
    display: flex;
    align-items: center;
}
.loja-h3 {
    border-bottom: 2px solid #660000;

    width: 100%;
    color: #660000;
    font-family: arial;
}
.lojaTitulo img {
    width: 125px;
    height: 77px;
    float: right;
    padding: 0 5px 20px 0;
    background-color: #fff;
}

.loja {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 15px;
   
}

.drone1 {
    width: 300px;
    height: 355px;
    border: 1px solid #1b8e99;
}
.drone2 {
    width: 300px;
    height: 355px;
    border: 1px solid #660000;
}
.titulo1 {
    font-family: tahoma;
    font-size: 18px;
    color: #1b8e99;
    background-color: #1b8e9933;
    margin: 3px 4px 3px 3px;
}
.titulo2 {
    font-family: tahoma;
    font-size: 18px;
    margin: 3px 4px 3px 3px;
    color: #660000;
    background-color: #66000034;
}
.conteudo1 {
    font-family: tahoma;
    font-size: 13px;
    color: #1b8e99;
    text-align: left;
    padding-inline: 13px;
    margin-bottom: 15px;
}

.conteudo2 {
    font-family: tahoma;
    font-size: 13px;
    color: #660000;
    text-align: left;
    padding-inline: 13px;
    margin-bottom: 15px;
}
.valor1 {
    background-color: #1b8e99;
    font-family: tahoma;
    text-align: left;
}
.valor2 {
    background-color: #660000;
    font-family: tahoma;
    text-align: left;
}
.valor1 img {
    border-radius: 5px;
    transform: translate(218px, -10px);
    background-color: #fff;
    align-items: center;
    height: 53px;
    width: 62px;
    padding: 5px;
}
.valor2 img {
    border-radius: 5px;
    transform: translate(218px, -10px);
    background-color: #fff;
    align-items: center;
    height: 53px;
    width: 62px;
    padding: 5px;
}
.custo {
    color: #fff;
    transform: translate(0px, 30px);
    margin-left: 15px;
    font-size: 30px;
    font-family: tahoma;
}
.parcela {
    color: #fff;
    transform: translate(0px, 30px);
    margin-left: 15px;
    font-size: 14px;
    font-family: tahoma;
    margin-bottom: -22px;
}