/* Reset de estilos padrão */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para o body e HTML */
html, body {
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilos para o footer */
footer {
  width: 980px;
  display: flex;
  flex-direction: column;
}

/* Estilos para os parágrafos dentro do footer */
footer p {
  font-family: tahoma;
  color: white;
  font-size: 14px;
}

/* Estilos para o conteúdo dentro do footer */
.conteudoFooter {
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 96px;
  background-color: #1b8e99;
}

/* Estilos para as imagens de drones dentro do footer */
.imagemDrones {
  display: flex;
  gap: 185px;
}

/* Estilos para a imagem do Prof. Bortola dentro do footer */
.imagemProf {
  margin-bottom: 60px;
  z-index: 1;
}

/* Estilos para o detalheFinal dentro do footer */
.detalheFinal {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 26px;
  padding-right: 80px;
  background-color: #660000;
}
